<div class="image-container" >
    <div class="vh-100">
        <div class="d-flex align-items-center justify-content-center  h-100">
            <p class="h1 text-white bg-primar">
                PAGE INTROUVABLE.
                <br>
                <span style="font-size: .5em;">
                    Il semble que vous ayez suivi un mauvais lien. <br>
                    Vérifiez que le lien est correcte puis réessayez.
                </span>
                <br><br>
                <a (click)="goToHome()">
                    <button style="text-align: center;float:left" 
                        class="btn_next btn fw-bold">
                        Retourner à la page d'accueil
                    </button>
                </a>
            </p>
        </div>
    </div>
</div>
