<div class="image-container" >
    <div class="vh-100">
        <div class="container d-flex align-items-center justify-content-center  h-100">
          <p class="h1 text-white bg-primar">
                OUPS! UNE ERREUR S'EST PRODUITE.
                <br>
                <span class="mb-2" style="font-size: .5em;">
                    Veuillez réessayer plus tard ou contacter notre service 
                    clientèle pour obtenir de l'aide. Nous travaillons 
                    activement à la résolution de ce problème et vous remercions de votre patience.
                </span>
                <br><br>
                <a (click)="goToHome()">
                    <button style="text-align: center;float:left" 
                        class="btn_next btn fw-bold">
                        Retourner à la page d'accueil
                    </button>
                </a>
            </p>
          
        </div>
    </div>
</div>
