<!-- Footer -->
<footer class="text-center text-lg-start bg-black text-muted">
  <!-- Section: Social media -->
  
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section style ="color:white"class="">
    <div class="container text-center text-md-start mt-5" >
      <!-- Grid row -->
      <div class="row mt-3" >
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="font-size:155%;margin-top:20%">
           PAROISSE ST-JOSEPH
          </h6>
          <p>
            Effectuez vos quête, dons, demandes de messe, demandes de baptême et bien d’autres de manière sécurisé
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase  mb-4" style="font-size:155%;margin-top:30%">
            Pages
          </h6>
          <p>
            <a href="#!" class="text-reset">Accueil</a>
          </p>
          <p>
            <a href="#!" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer" class="text-reset">Messe</a>
          </p>
          <p>
            <a href="#!"data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer"  class="text-reset">Quête</a>
          </p>
          <p>
            <a href="#!" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer" class="text-reset">Baptême</a>
          </p>
          <p>
            <a href="#!" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer" class="text-reset">Mariage</a>
          </p>
          <p>
            <a href="#!" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer" class="text-reset">Catechese</a>
          </p>
          <p>
            <a href="#!" (click)="goToDonationType()" class="text-reset">Faire un don</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
       
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase  mb-4" style="font-size:155%;margin-top:20%">Pour plus d'informations</h6>
          <p><i class="fas fa-home me-3"></i> 9XHC+299, Rue F5, Abidjan</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <span class="responsiveEmail">
              stjomukassabalikuddembe@gmail.com
            </span>
          </p>
          <p><i class="fas fa-phone me-3"></i> +225 01 52 01 00 51</p>
          <a href="https://www.facebook.com/people/Quasi-Paroisse-Sjmb-Adjam%C3%A9/pfbid02epRv2mwqcpxAGkB7wa4LvomdJu9ocwBtq3nKwYKSsxSSSz7gn1hFdrPdfnMj6ntcl/?mibextid=LQQJ4d" target="_blank" style="cursor: pointer;color:white;"><i class="fab fa-facebook me-3"></i> Aller à la page Facebook</a>
          <!-- <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f">   myheroacademia</i>
          </a> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
   
    <!-- Right -->
  </section>

  <!-- Copyright -->
  <div class="text-left p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright
    
  </div>
  
  <!-- Copyright -->
</footer>
<!-- Footer -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="error">
          <h1 style="font-weight:700;text-align:center">OUUUUPS!!!</h1>
          <p style="font-size:120%;color:#f77f07;text-align:center;font-family:'Poppins'"> Cette partie du site est momentanément indisponible. Celle-ci sera bientôt disponible. 
              Seule la partie "Faire un don " est disponible</p>
     </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color:green;color:white" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>